* {
  box-sizing: border-box;
}

body {
  font-family: "Chilanka", cursive;
  font-size: 32px;
  line-height: 3;
  color: #fff;
  background-color: #d3d3d3;
}

.selected {
  border: 10px #fff solid;
}

ul {
  list-style-type: none;
}

#modal-container {
  display: none;
  position: absolute;
}

button {
  font-family: inherit;
  font-size: inherit;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: #3b4cca;
  color: #fff;
  text-align: left;
}
button:hover {
  cursor: pointer;
  opacity: 0.8;
  font-size: 42px;
  transition: 0.9s opacity, 0.9s font-size;
}

.modal-close {
  float: right;
  font-size: 14px;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #000;
  text-decoration: underline;
}
.modal-close:hover {
  font-size: 18px;
  transition: 0.9s font-size;
}

#modal-container.is-visible {
  font-family: inherit;
  display: block;
  height: 340px;
  width: 400px;
  position: fixed;
  left: 50%;
  margin-left: -200px;
  top: 50%;
  margin-top: -170px;
  padding: 5px;
  background: #3b4cca;
  /* to show it above other content */
  z-index: 999;
  /*center modal*/
  display: grid;
  border: 10px solid #ffcb05;
  overflow: auto;
}

h3 {
  text-decoration: underline;
  text-align: center;
}

p {
  text-align: center;
  font-style: italic;
}
.page-header {
  display: flex;
  justify-content: flex-start;
}
.pokemon-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
ul > li {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

.pokemon-list__item {
  line-height: 1;
}
